grpcio==1.44.0 --no-binary=grpcio
grpcio-tools==1.44.0 
tk
pyyaml
loguru
#numpy #Install via apt 
#matplotlib #Install via apt
#pandas #Install via apt
argparse
systemd-python ##Make sure you get this one, not 'systemd'

