[Unit]
Description=Pisces GUI Service
After=network.target hwcontrol.service
PartOf=hwcontrol.service
#StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=5
#User=pi
WorkingDirectory=/home/pi/Repositories/pisces
ExecStart=/usr/bin/env python3 /home/pi/Repositories/pisces/gui/gui.py --fullscreen
Environment="PYTHONPATH=/home/pi/Repositories/pisces/shared"
Environment="DISPLAY=:0.0"
#StandardOutput=
#StandatdError=inherit

[Install]
WantedBy=multi-user.target
