[Unit]
Description=Pisces GUI Service
After=network.target hwnctrl.service scheduler.service
#StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
#User=pi
WorkingDirectory=/home/pi/Repositories/pisces/build/
ExecStart=/usr/bin/env python3 /home/pi/Repositories/pisces/build/bin/gui.py
Environment="PYTHONPATH=/home/pi/Repositories/pisces/build/shared"
Environment="DISPLAY=:0.0"
#StandardOutput=
#StandatdError=inherit

[Install]
WantedBy=multi-user.target