[Unit]
Description=Pisces HW Control Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env python3 $INSTALL_DIR/bin/hwcontrol_server.py
Environment="INSTALL_DIR=~/Repositories/pisces/build"
Environment="PYTHONPATH=$INSTALL_DIR/shared"
#StandardOutput=
#StandatdError=inherit

[Install]
WantedBy=multi-user.target