[Unit]
Description=Pisces HW Control Service
#After=network.target
#StartLimitIntervalSec=0

[Service]
Type=simple
Restart=never
RestartSec=1
#User=pi
WorkingDirectory=/home/pi/pisces/build/
ExecStart=/usr/bin/env python3 $INSTALL_DIR/bin/hwcontrol_server.py
Environment="INSTALL_DIR=~/Repositories/pisces/build"
Environment="PYTHONPATH=$INSTALL_DIR/shared"
#StandardOutput=
#StandardError=inherit

#[Install]
#WantedBy=multi-user.target